# Backend
DATABASE_URL=postgresql+asyncpg://iv:12345@localhost:5432/text_sender
SECRET_KEY=super_secret_key_change_me_very_long_and_random
BACKEND_URL=http://localhost:8000


# SMTP for email verification code sending
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password

# Frontend
VITE_API_BASE_URL=http://127.0.0.1:8000
