fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.44
asyncpg==0.30.0
pydantic[email]==2.12.3
pydantic-settings==2.13.1
bcrypt==4.1.2
passlib[bcrypt]
python-jose[cryptography]==3.5.0
python-multipart==0.0.20
